/*!
 * Luke Schlangen - Video Bootstrap Theme
 */

body {
    overflow-x: hidden;
    font-family: 'Berkshire+Swash';
    color: #000;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.image-link {
    opacity: 1;
    -webkit-transition: opacity ease .5s;
    -moz-transition: opacity ease .5s;
    transition: opacity ease .5s;
}
.image-link:hover {
    opacity: .7;
}

.image-link .youtube-trigger,
.image-link .youtube-trigger:active
 {
    border: 0px;
    background-color: rgba(255,255,255,0);
}

.img-responsive {
    display: block;
    max-width: 100%;
    
}






table {
    text-align: left;
}

.light {
    font-weight: 400;
}

.full-page {
    min-height: 100%;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);

    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(0,0,0,.15);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.nav li a:hover,
.nav li a:focus,
.nav li a:active {
    outline: 0;
    background-color: rgba(0,0,0,.2);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background-color: rgba(255,255,255,1);
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.75)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%); /* W3C */
        
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-position: center;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    color: #000;
}

.intro .intro-body .brand-heading {
    font-size: 12vh;
    color: #fff;
}

.intro .intro-body .intro-text {
    font-size: 12vh;
}


    .intro {
        height: 100%;
        padding: 0;
    }
@media(min-width:767px) {
    .brand-heading {
        font-size: 12vh;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    /*width: 70px;*/
    height: 70px;
    margin-top: 15px;
    /*padding: 7px 16px;*/
    /*border: 2px solid #000;*/
    /*border-radius: 35px;*/
    font-size: 40px;
    color: #fff;
    /*background: 0 0;*/
    /*-webkit-transition: background .3s ease-in-out;*/
    /*-moz-transition: background .3s ease-in-out;*/
    /*transition: background .3s ease-in-out;*/
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    /*background: rgba(255,255,255,.1);*/
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .5s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: .5s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding: 50px 0;
    overflow-x: hidden;
}

.location-section {
    width: 100%;
    /*padding: 50px 0;*/
    color: #fff;
    background: url("/img/Ski Otters Location.png");
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sponsors-section {
    width: 100%;
    background-image: url("/img/LandL.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom: 0px;
}

#sponsors .sponsors-item .sponsors-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#sponsors img {
    /*filter: url(filters.svg#grayscale);*/
    /*filter: gray;*/
    /*-webkit-filter: grayscale(1);*/
    width: 100%;
}

#sponsors .sponsors-item .sponsors-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .7);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#sponsors .sponsors-item .sponsors-link .caption:hover {
    opacity: 1;
}

#sponsors .sponsors-item .sponsors-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#sponsors .sponsors-item .sponsors-link .caption .caption-content i {
    margin-top: -12px;
}

#sponsors .sponsors-item .sponsors-link .caption .caption-content h3, #sponsors .sponsors-item .sponsors-link .caption .caption-content h4 {
    margin: 0;
}

#sponsors * {
    z-index: 2;
}

@media(min-width:767px) {
    /*.content-section {*/
    /*    padding-top: 250px;*/
    /*}*/

    .location-section {
        padding: 100px 0;
    }

}

.btn {
    margin: 4px;

    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #fff;
    background-color: #219ab3;
}

.panel-heading {

    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.panel-heading {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.panel-heading:hover,
.panel-heading:focus {
    /*border: 1px solid #219ab3;*/
    outline: 0;
    color: #000;
    background-color: #219ab3;
}

.panel {

    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.panel {
    border: 1px solid #219ab3;
    color: #fff;
    /*color: #219ab3;*/
    background-color: transparent;
}

.modal-body {
    border: 1px solid #219ab3;
    color: #000;
    /*color: #219ab3;*/
    background-color: #fff;
}

.modal-header{
    border: 1px solid #219ab3;
    color: #fff;
    background-color: #219ab3;
}

.modal-footer {
    border: 1px solid #219ab3;
    color: #000000;
    background-color: #219ab3;
}

select option {
    color: #219ab3;
    background-color: #000000;
}


ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

footer {
    /*width: 100%;*/
    color: #000;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.video-section{
    height: 100vh;
}

.video-section .buttonBar{
    display:none;
}

.full-screen{
    min-height: 100vh;
    padding-top: 20vh;
}

.ss-q-title{
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

.bottom{
    bottom: 12vh;
    position: absolute;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.very-bottom {
    bottom: 1px;
    position: absolute;
}

.modal-body .youtube-modal{
    padding: 0px;
    border: 0px;
}
